@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@300&display=swap');

.menu-title{
    color: #e0f2f1;
    text-shadow: 2px 5px 2px #004d40;
    background: url('../images/yam-egg.jpg');
    background-position: center;
    text-align: center;
    text-decoration-line: underline;
    margin: 2vw;
    padding: 1vw;
    font-size: 4vw;
}

.menu-list{
    padding: 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.menu-list .card {
    padding: 1vw;
    border-radius: 5px;
    background-color: #eceff1;
    box-shadow: 2px 3px 5px #90a4ae;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
}

.card > img{
    width: 100%;
    height: 15vw;
    border: 5px solid #004d40;

}

.card h5{
    font-weight: normal;
    font-size: 1vw;
    text-decoration: underline;
    text-underline-offset: 0.5vw;
}

.card h6{
    font-size: 1vw;
    padding-top: 3px;
}

.card button{
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    font-weight: bold;
    padding: 1vw 2vw;
    border: none;
    border-radius: 15px;
    align-self: center;
    color: #eceff1;
    background-color: #004d40;

}

.card button:hover{
    background-color: #4db6ac;
    color: aliceblue;
}